doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="styles/style.css")
    script(type="text/javascript" src="scripts/script.js")
    title Potato-Salad
  body
    div#painLeft
      div.headerPainLeft Items
      div#itemStock
      div.headerPainLeft Materials
      div#material
        div#materialOverworld
          div#materialOverworldPick
          div#materialOverworldDig
          div#materialOverworldCut
        div#materialOre
        div#materialRaw
    div#painMain
      div#time
      div#mode
      div#itemHave
      div#recipe
      div#oreVein
    div#painLog
