doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="styles/style.css")
    script(type="text/javascript" src="scripts/script.js")
    title Potato-Salad
  body
    p#time
    p#mode
    button#modeChange1 Overworld
    button#modeChange2 Underground
    button#modeChange3 Mining
    p#material
    p#oreVein
