doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="styles/style.css")
    script(type="text/javascript" src="scripts/script.js")
    title Potato-Salad
  body
    div#tooltip(style="display: none")
    div(style="position: absolute; left: -32px")
      include assets/icon.svg
    div#painLeft
      div.headerPainLeft Items
      div#itemStock
      div.headerPainLeft Materials
      div#materialStock
    div#painMain
      div#time
      div#mode
      div#money
      div#menu
        div.menuItem Craft
        div.menuItem Pick
        div.menuItem Cut
        div.menuItem Dig
        div.menuItem Mine
      //div#itemHave
      div#recipe
      div#oreVein
    div#painLog
