doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="styles/style.css")
    script(type="text/javascript" src="scripts/script.js")
    title Potato-Salad
  body
    p#time
    p#mode
    p#itemHave
    p#itemStock
    div#material
      div#materialOverworld
        div#materialOverworldPick
        div#materialOverworldDig
        div#materialOverworldCut
      div#materialOre
      div#materialRaw
    p#recipe
    p#oreVein
