doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="styles/style.css")
    script(type="text/javascript" src="scripts/script.js")
    title Potato-Salad
  body
    p Hello, world!
    p Add a line
